@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  
  /*width: 500px;*/
  margin-right: auto;
  margin-left: auto;
}

.main_wrap {
  width: 92%;
  /*height: 100%;*/
  background-color: #04a6eb;
  color: #fdffff;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;

}


button {
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
}

input {
  height: 2rem;
}
